<h1>Here are the questions</h1>

<h2>Create a new Question here:</h2>
<%= form_for @question, url: {action: "create"} do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :content %>
  <%= f.submit "Create Question" %>
<% end %>

<div>
  <ul class="questions-list">
    <% @questions.each do |question| %>
      <li class="question"><a href="questions/<%= question.id %>"><b><%= question.title %></b></a>
        <%= button_to '+1', "/questions/#{question.id}/votes", method: :post%>
        <%= button_to '-1', "/questions/#{question.id}/votes/destroy", method: :delete%>
        <span><%= question.votes.count %></span>
      </li>
    <% end %>
  </ul>
</div>
